@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');
body {
    background-color: white;
    margin: 0;
    padding: 0;
}

h1 {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
}

h2 {
    font-family: "BBH Sans Bogle", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
}

p {
    font-family: "Arial";
    font-weight: 300;
    font-style: normal;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

nav {
    background-color: gray;
    height: 75px;
    display: flex;
    align-items: top;
    justify-content: flex-end;
}

nav a {
    font-family: "BBH Sans Bogle", sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 70px;
    color: white;
    text-align: center;
    font-size: medium;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-top: 1.5rem;
    text-decoration: none;
}

nav a:hover {
    background-color: lightgray;
    color: blue;
}

footer {
    padding: 14px 20px;
    background-color: gray;
    text-align: center;
    color: white;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.login {
    margin-top: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}