<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>My Profile</title>
    </head>
    
    <body>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('cars') }}">Vehicles</a>

            {% if session.get('role') == 'Owner' %}
                <a href="{{ url_for('reports') }}">Reports</a>
            {% endif %}

            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>

        {% if session.get('loggedin') %}
            <h1>Welcome {{ session.get('username') }}</h1>
            <p style="text-align: center;">First Name: {{ session.get('first_name') }}</p>
            <p style="text-align: center;">Last Name: {{ session.get('last_name') }}</p>
            <p style="text-align: center;">Username: {{ session.get('username') }}</p>
            <p style="text-align: center;">UserID: {{ session.get('userID') }}</p>
            <p style="text-align: center;">Role: {{ session.get('role') }}</p>
        {% endif %}

        <footer>
        </footer>

    </body>
</html>