<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Sell My Car</title>
    </head>
    <body>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('cars') }}">Vehicles</a>
            <a href="{{ url_for('profile') }}">My Profile</a>
            
            {% if session.get('role') == 'Owner' %}
                <a href="{{ url_for('reports') }}">Reports</a>
            {% endif %}
        </nav>

        <h1>Sell My Car</h1>

        <footer>
        </footer>
        
        <form action="carsold.html" method="post">
            <table align="center">
                <tr>
                    <th>Please input your cars data</th>
                </tr>
                <tr>
                    <td>
                        <label for="year"><b>Year</b></label>
                        <input type="year" placeholder="Enter Car's Year" name="year" required>
                    </td>
                    <td>
                        <label for="miles"><b>Mileage</b></label>
                        <input type="miles" placeholder="Enter Mileage" name="miles" required>
                    </td>
                    <td>
                        <label for="brand"><b>Brand</b></label>
                        <input type="brand" placeholder="Enter Car's Brand" name="brand" required>
                    </td>
                    <td>
                        <label for="price"><b>Asking Price</b></label>
                        <input type="price" placeholder="Enter Asking Price" name="price" required>
                    </td>
                    <td>
                        <button type="submit">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>