<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Sell My Car</title>
    </head>
    <body>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('cars') }}">Vehicles</a>
            <a href="{{ url_for('profile') }}">{{ session.get('username') }}</a>
            
            {% if session.get('role') in ['Admin', 'Owner'] %}
                <a href="{{ url_for('reports') }}">Reports</a>
            {% endif %}
        </nav>

        <h1>Sell Vehicle</h1>

        <div class="container">
        <h2>Details</h2>
        <h3>{{ vehicle.vin }}, {{ vehicle.model_year }}, {{ vehicle.model_name }}</h3>
        <form method="POST" action="{{ url_for('sold') }}">
            <label>Select Customer</label>
            <select name="customerID">
                {% for c in customers %}
                    <option value="{{ c.customerID }}">
                        {{ c.last_name }}, {{ c.first_name }}, {{ c.id_number }}
                    </option>
                {% endfor %}
            </select>
            
            <label>Date of Sale</label>
            <input type="date" name="sales_date" required>
            <input type="hidden" name="vehicleID" value="{{ vehicle.vehicleID }}">
            <button type="submit">Complete Sale</button>
        </form>
        </div>

        <p style="text-align: center; margin-top: 20px;">
            <a href="{{ url_for('new') }}"><button>Add New Customer</button></a>
        </p>

        <footer>
        </footer>
    </body>
</html>